<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta charset="UTF-8">
	<title>Work stages</title>
	<link href="" rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
  </head>
  <body>
	<div class="container container-fluid px-5">
	  <!--/*@thymesVar id="saveMessage" type="flash message text"*/-->
	  <div class="alert alert-success text-center mt-4" th:if="${saveMessage}" th:text="${saveMessage}"/>
	  <!--/*@thymesVar id="deleteMessage" type="flash message text"*/-->
	  <div class="alert alert-danger text-center mt-4" th:if="${deleteMessage}" th:text="${deleteMessage}"/>
	  <!--/*@thymesVar id="errorMessage" type="flash message text"*/-->
	  <div class="alert alert-danger text-center mt-4" th:if="${errorMessage}" th:text="${errorMessage}"/>
	  <table class="table table-hover table-bordered user-select-none">
		<thead class="table-header table-dark">
		  <tr>
			<th>ID</th>
			<th>Stage title</th>
			<th>Cost</th>
			<th>Repair work</th>
			<th>Action</th>
		  </tr>
		</thead>
		<tbody>
		  <th:block th:each="ws: ${workStages}">
			<tr style="cursor: pointer" th:onclick="|editRowClicked(${ws.getId()}, 'work-stages')|">
			  <td th:text="${ws.getId()}"></td>
			  <td th:text="${ws.getStage_title()}"></td>
			  <td th:text="${ws.getCost()}"></td>
			  <td th:text="${ws.getRepairWork().getId()}"></td>
			  <td class="action-buttons d-flex flex-column gap-1">
				<form th:action="@{/work-stages/{id}(id=${ws.getId()})}" th:method="DELETE">
				  <input class="btn btn-danger" th:value="Delete"
						 type="submit">
				</form>
			  </td>
			</tr>
		  </th:block>
		</tbody>
	  </table>
	  <a class="btn btn-primary fs-4" th:href="@{/work-stages/new}">Register a new work stage</a>
	  <a class="btn btn-outline-primary btn-outline fs-4 mt-4" th:href="@{/}">Go home</a>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
	<script th:src="@{/scripts/script.js}"></script>
  </body>
</html>