@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", serif;
}

body {
    background-color: #cbcbcb;
}

label {
    color: black;
}

.action-buttons > a {
    text-decoration: none;
}

.action-buttons > a:visited {
    text-decoration: none;
}

.action-buttons > a:nth-child(2) {
}

.btn {
    width: 100%;

    text-align: center;
}

.btn:not(.btn-outline) {
    color: white;
}

.btn-outline-secondary {
    color: black !important;
}

.btn-outline-secondary:hover {
    color: white !important;
}

h1 {
    font-family: "Roboto", serif;
    font-weight: 900;
}

.home-link {
    transition: all ease .2s;
}

.home-link:hover {
    opacity: .6 !important;
    transition: all ease .2s;
}